<%= link_to "Items", '/items' %>
<%= link_to "Merchants", '/merchants' %>

<h1>All Items List</h1>

<% @items.each do |item| %>
<section id="item-<%= item.id %>">
  <h2> <%= link_to item.name, "/items/#{item.id}"%></h2>
  <ul><%= item.description %></ul>
  <ul>Price: $<%= item.price %>.00</ul>
  <ul>Inventory: <%= item.inventory %></ul>
  <ul><%= item.active_inactive == true ? "Active" : "Inactive"  %></ul> 
  <ul><%= link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></ul>
  <img src= <%= item.image %>>
</section>
<% end %>
